.title {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;

/* background-color: #bbf91f; */
background-image: url(../../../public/1669927960_26-pibig-info-p-yarkii-shkolnii-fon-vkontakte-28.jpg);
background-repeat: no-repeat;
    background-size: cover;
height: 130px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    /* font-size: calc(10px + 2vmin); */
    color: #ed6031;




}