.App {
  margin: 10px;
  /* text-align: center; */
  /* background-color: aqua; */
  /* background-image: url(../public/1663767234_b-3.jpg); */
  
  /* background-image: url(../public/1663767234_b-1.jpg); */
  /* background-image: url(../public/1663767242_g-36.jpg); */
  
  
  background-image: url(../public/1663767339_j-2.jpg);
 
 

  
  /* background-image: url(../public/1669927987_8-pibig-info-p-yarkii-shkolnii-fon-vkontakte-9.jpg); */
  /* background-image: url(../public/1669928016_63-pibig-info-p-yarkii-shkolnii-fon-vkontakte-68.jpg); */

  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
